<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Register | DocuHash</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="screen active">
        <div class="glass-panel slide-up">
            <h2>Register Admin</h2>
            <form id="register-form">
                <div class="input-group">
                    <input type="text" id="reg-name" required>
                    <label>Full Name</label>
                </div>
                <div class="input-group">
                    <input type="email" id="reg-email" required>
                    <label>Email Address</label>
                </div>
                <div class="input-group">
                    <input type="password" id="reg-pass" required>
                    <label>Password</label>
                </div>
                <button type="submit" id="reg-submit-btn" class="primary-btn">Register</button>
            </form>
            <p id="auth-msg"></p>
            <p class="switch-auth">Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>