<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login | DocuHash</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="screen active">
        <div class="glass-panel slide-up">
            <h2>Student Portal Login</h2>
            <p class="small-text" style="margin-bottom: 20px;">Enter your student email to submit assignments.</p>
            <form id="student-login-form">
                <div class="input-group">
                    <input type="email" id="student-email" required>
                    <label>Student Email Address</label>
                </div>
                <button type="submit" class="primary-btn">Enter Portal</button>
            </form>
            <p class="switch-auth"><a href="/login">Admin Login</a></p>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>